# Dependency folders
node_modules/
wertep-server/node_modules/
wertep-frontend/node_modules/

# Environment variables
.env
.env.local

# Frontend Build Output
wertep-frontend/dist

# System files
.DS_Store
Thumbs.db
.vscode/